.form-group {
  @apply my-2;

  label {
    @apply inline-block mb-1 text-gray-900;
  }

  .form-control {
    @apply px-3 text-gray-700 bg-white rounded transition-shadow border border-gray-300 focus:ring focus:ring-green-500 focus:ring-opacity-40;

    outline: none;
    display: block;
    width: 100%;
    padding-top: .37rem;
    padding-bottom: .37rem;
  }
}