/** Component Variables */
$navbar-height: 65px;
$navbar-background-color: rgb(30, 42, 59);
// $navbar-background-color: rgb(31, 31, 63);

/** Mobile */
@media screen and (max-width: 768px) {
  $navbar-height: 55px;
}